.rloader-grouploader {
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #f3f3f3;
  align-items: center;
}
  
.rloader-loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite; /* Define a animação */
}

@keyframes spin {
  0% { transform: rotate(0deg); } /* Define a rotação inicial */
  100% { transform: rotate(360deg); } /* Define a rotação final */
}

.rloader-backdrop {
  background-color: #000000ce;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.rmodal-secondarybutton:active {
    background: #5e5e5ee0;
}


.rmodal-secondarybutton {
    border-radius: 10px;
    border: none;
    margin: 6px;
    background: #919191;
    color: white;
    padding: 11px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.rmodal-primarybutton:active {
    background-color: #004997;
}

.rmodal-primarybutton {
    border-radius: 10px;
    border: none;
    margin: 6px;
    background: #007bff;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 11px;
    cursor: pointer;
}

.rmodal-groupbutton {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

.rmodal-footer {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-top: #bfbfbf solid 2px;
  width: 100%;
}

.rmodal-body {
  margin: 6px;
  padding: 6px;
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow-wrap: anywhere;
}
  
  .rmodal-closebutton {
    padding: 0px;
    border: none;
    background-color: transparent;
    font-size: 18px;
    cursor: pointer;
  }
  
  .rmodal-title {
    font-size: large;
    font-weight: bold;
}

.rmodal-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    border-bottom: #bfbfbf solid 2px;
    padding: 6px;
}
  
  .rmodal-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .rmodal {
    background-color: #fdfdfd;
    position: absolute;
    width: 90%;
    max-width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 11px;
    font-family:Arial, Helvetica, sans-serif;
}
  
  .rmodal-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}