:root{
    --cor-principal:#00a7a7;
}

p {
    margin: 0;
    padding: 0;
}

.page-logo{
    width: 100px;
}

body{
    background-color: rgb(223, 235, 247);
    background-image: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menus{
    min-height: calc(100% - 166px)
}

.group-menu{
    display: flex;
    padding: 15px;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

.menu-opt{
    padding: 4px;
    display: flex;
    width: 300px;
    height: 150px;
    align-items: center;
    border: solid 1px gray;
    border-radius: 10px;
    background-color: aliceblue;
}

.grp-logo{
    width: 50%;
    height: 100%;
    padding: 10%;
}

.grp-menuinfo{
    width: 50%;
    padding: 3px;
}

.menu-logo{
    width: 100%;
}

.menu-desc{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor-letras-titulo);
    font-weight: 300px;
    font-size: 12px;
}

.menu-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: 600;
    color: var(--cor-letras-titulo)
}


@media only screen and (max-width: 653px) {
    .group-menu{
        display: flex;
        padding: 15px;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    .page-logo{
        width: 90px;
    }

    .menus{
        min-height: calc(100% - 156px)
    }
}