:root{
    --cor-principal:#00a7a7;
}

body{
    background-color: aliceblue;
    background-image: none;
}

.item-lista__info{
    width: 50%;
}

.item-lista__group-button{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    gap: 2%;
    width: 50%;
}

.item-lista-button{
    width: 100%;
    max-width: 35px;
    border-radius: 5px;
}

#alterar.item-lista-button{
    background-color: rgb(0, 132, 255);
    outline: none;
}

#alterar.item-lista-button:active{
    background-color: rgba(0, 132, 255, 0.308);
}

#excluir.item-lista-button{
    background-color: rgb(216, 0, 0);
    outline: none;
}

#excluir.item-lista-button:active{
    background-color: rgba(216, 0, 0, 0.479)
}


.acolitos-header{
    width: 100%;
    text-align: center;
    color: var(--cor-principal);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.lista{
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: 0.5px solid rgb(119, 119, 119);
    border-radius: 5px;
    height: 75%;
    width: 100%;
    padding-top: 1%;
    flex-direction: column;
    align-items: center;
    background-color: #d6e9f0 ;

}
.container-acolitos{
    background-color: aliceblue;
    height: 100%;
    width: 70%;
    max-width: 800px;
    min-height: 480px;
    display: flex;
    gap: 3%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.item-lista{
    border: 1px solid rgb(143, 143, 143);
    border-radius: 3px;
    background-color: aliceblue;
    padding: 1%;
    width: 98%;
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.search-grp{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.search{
    width: 95%;
    border: solid 1px black;
    background-color: #eaeef0;
    border-radius: 6px;
}
.button-search{
    width: 40px;
    border-radius: 3px;
    background-color: rgb(219, 219, 219);
    border: solid 1px black;
    outline: 0;
}

.lupa-search{
    width: 65%;
    max-width: 18px;
}

.button-search:active{
    background-color: #939fa3;
}

.divisao{
    border-bottom: solid grey 1px;
    width: 100%;
}

.content-modal{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.modal-form{
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 100%;
}


.form-input-group{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.form-input{
    border: solid 1px grey;
}

.red-input{
    border: solid 1px red
}

.oculto{
    display: none;
}

.panel-buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.panel-buttons > button{
    border-radius: 5px;
    font-size: 80%;
    border: none;
    padding: 1%;
    font-weight: 500;
    color: aliceblue;
}

.panel-buttons > button > strong{
    font-weight: 800;
    font-size: 100%;
}

.incluir-button{
    background-color: rgb(130, 192, 36);
}

.incluir-button:active{
    background-color: rgb(83, 124, 20);
}

@media only screen and (max-width: 653px) {

    .page-logo{
        width: 90px;
    }

    .container-acolitos{
        width: 80%;
        max-width: 800px;
    }
}

@media only screen and (max-width: 450px) {

    .container-acolitos{
        width: 90%;
        max-width: 800px;
    }
    .item-lista{
        font-size: 13px;
    }
}